* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, red, blue, green);
}

.contenedor-todo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.2);
}

header {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    height: 15%;
}

.contenedor-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 70%;
}

.contenedor-form div {
    position: relative;
    margin: 20px 0;
}

input {
    text-align: left;
    border-radius: 10px;
    outline: 0 none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.6rem 1.2rem;
    color: rgb(41, 41, 41);
    font-size: 1.1rem;
    background-color: rgba(255, 255, 255, 0.2);
}

label {
    text-transform: uppercase;
    background-color: transparent;
    position: absolute;
    top: 0.5rem;
    left: 1.2rem;
    color: rgba(0, 0, 0);
    font-size: 1.1rem;
    transition: all .4s;
    padding-inline: 0.25rem;
}

input:focus~label {
    border-radius: 25px;
    top: -0.5rem;
    left: 0.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 0.85rem;
}
input:valid~label {
    border-radius: 25px;
    top: -0.5rem;
    left: 0.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 0.85rem;
}

input:focus {
    border: 1px solid rgba(0, 136, 255, 0.2);
    box-shadow: 0.5px 0.5px 5px 0.5px rgba(0, 0, 0, 0.3);
}

input:hover {
    border: 1px solid rgba(0, 255, 255, 0.2);
}

button {
    background: linear-gradient(90deg, rgb(0, 108, 77), rgb(51, 67, 0), rgb(69, 31, 0));
}

button {
    border: none;
    outline: none;
    position: relative;
    width: 100PX;
    height: 30px;
    border-radius: 10px;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    overflow: hidden;
}

button:hover {
    transform: scale(1.1);
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 10px;
    border: 0 solid;
    border-color: white rgba(255, 255, 255, 0.7)rgba(255, 255, 255, 0.7)white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    border-bottom-right-radius: 10px;
    transition: .4s ease-out;
}

button:focus::before {
    border-width: 15px;
}