body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 97vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo {
    font-weight: 700;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.caja-form {
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 78%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px 0;
}

.caja-form div {
    position: relative;
    margin: 0 10px;
}

button {
    border: none;
    outline: none;
    position: relative;
    width: 150PX;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    overflow: hidden;
}

.boton1 {
    background: #264653;
}

.boton2 {
    background: #2a9d8f;
}

.boton3 {
    background: #e9c46a;
}

.boton4 {
    background: #f4a261;
}

.boton5 {
    background: #e76f51;
}

.boton6 {
    background: #219ebc;
}

.boton7 {
    background: #023047;
}

.boton8 {
    background: #283618;
}

button:focus {
    transform: scale(1.1);
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 10px;
    border: 0 solid;
    border-color: white rgba(255, 255, 255, 0.7)rgba(255, 255, 255, 0.7)white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    border-bottom-right-radius: 10px;
    transition: .4s ease-out;
}

button:hover::before {
    border-width: 15px;
}